body {
    display: flex;
    flex-direction: column;
    margin: 0;

    min-height: 100vh;
    min-width: 320px;
    width: 100%;
    color: var(--color-text);
    background: var(--color-background);
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.2;
    font-size: 24px;
    text-rendering: optimizeLegibility;
    font-family: 'ReformaGrotesk', sans-serif;
}

h1, h2 {
    &.with-decor {
        &:after {
            content: '';
            width: 100%;
            height: 14px;
            background-image: url("data:image/svg+xml,%3Csvg width='147' height='16' viewBox='0 0 147 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='8' width='10' height='10' transform='rotate(-45 0 8)' fill='%23DB3138'/%3E%3Crect x='44.071' y='8' width='10' height='10' transform='rotate(-45 44.071 8)' fill='%23DB3138'/%3E%3Crect x='88.1421' y='8' width='10' height='10' transform='rotate(-45 88.1421 8)' fill='%23DB3138'/%3E%3Crect x='132.213' y='8' width='10' height='10' transform='rotate(-45 132.213 8)' fill='%23DB3138'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            display: block;
            background-size: auto;
            background-position: center;
        }
    }
}

h2 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 52px;
    line-height: 1.4;

    &.with-decor {
        &:after {
            margin-top: 40px;
        }
    }
}