body {
    display: flex;
    flex-direction: column;
    margin: 0;

    min-height: 100vh;
    min-width: 320px;
    width: 100%;
    color: var(--color-text);
    background: var(--color-background);
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.2;
    font-size: 24px;
    text-rendering: optimizeLegibility;
    font-family: 'ReformaGrotesk', sans-serif;
}