%decor {
    content: '';
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='147' height='16' viewBox='0 0 147 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='8' width='10' height='10' transform='rotate(-45 0 8)' fill='%23DB3138'/%3E%3Crect x='44.071' y='8' width='10' height='10' transform='rotate(-45 44.071 8)' fill='%23DB3138'/%3E%3Crect x='88.1421' y='8' width='10' height='10' transform='rotate(-45 88.1421 8)' fill='%23DB3138'/%3E%3Crect x='132.213' y='8' width='10' height='10' transform='rotate(-45 132.213 8)' fill='%23DB3138'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
}