$viewport-layouts: (
    "default": (),
    "laptop": ("max-width": var(--breakpoint-laptop)),
    "tablet": ("max-width": var(--breakpoint-tablet)),
    "v-tablet": ("max-width": var(--breakpoint-v-tablet)),
    "mobile": ("max-width": var(--breakpoint-mobile))
);


@mixin example-viewport ($key) {
    .hide-me--#{$key} {
        display: none !important;
    }

    .show-me--#{$key} {
        display: block !important;
    }

    .col-#{$key} {
        & {
            @include grid-column-span(auto);
        }

        @for $i from 1 through $columns {
            &-#{$i} {
                @include grid-column-span($i);
            }

            &-offset-#{$i} {
                @include grid-column-offset($i);
            }

            &-offset-0 {
                margin-left: 0;
            }
        }
    }
}

@each $key, $value in $viewport-layouts {
    @if ($key == default) {
        @include example-viewport($key);
    } @else {
        $max-width: map-get($value, "max-width");
        @media screen and (max-width: $max-width) {
            @include example-viewport($key);
        }
    }
}
