:root {
    --color-text: #ffffff;
    --color-background: #141414;
    --brand-color: #DB3138;
    --border-color: #898989;
    --site-width: 1296px;
    --transition: .2s ease-in-out;
    

    //grid
    --token-grids-mobile-count: 2;
    --token-grids-mobile-gutter: 20px;
    --token-grids-v-tablet-count: 6;
    --token-grids-v-tablet-gutter: 20px;
    --token-grids-tablet-count: 12;
    --token-grids-tablet-gutter: 40px;
    --token-grids-laptop-count: 12;
    --token-grids-laptop-gutter: 40px;
    --token-grids-desktop-count: 12;
    --token-grids-desktop-gutter: 60px;

    --token-grids-desktop-offset: 24px;
    --token-grids-laptop-offset: 24px;
    --token-grids-tablet-offset: 24px;
    --token-grids-v-tablet-offset: 16px;
    --token-grids-mobile-offset: 16px;
}

//breakpoints
$breakpoint-laptop: 1679px;
$breakpoint-tablet: 1359px; // tablet
$breakpoint-v-tablet: 1023px; // v-tablet
$breakpoint-mobile: 599px; // mobile
